# =========================
# Node (Backend + Front)
# =========================
node_modules/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# React (CRA)
# =========================
build/

# =========================
# Backend logs
# =========================
Backend/logs/
*.log

# =========================
# Prisma (cache e binários)
# =========================
Backend/node_modules/.prisma/
Backend/node_modules/.cache/
prisma/migrations/**/migration_lock.toml

# =========================
# Docker (se não for usar)
# =========================
# docker-compose.override.yml

# =========================
# Shell / temporários
# =========================
*.sh~
*.tmp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# IDE
# =========================
.vscode/
.idea/
